<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-8 col-lg-6">
            <ul class="list-group">
                <% @tasks.each do |task| %>
                <li id="<%= task.id %>" class="list-group-item d-flex justify-content-between align-items-center <%= task.votes!=0 ? 'list-group-item-primary' : '' %>">
                    <%= task.name %>
                    <span class="badge bg-primary rounded-pill"><%= task.votes %></span>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>